/*Universal Tag start*/
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 35px;
}
p {
  text-align: justify;
  color: teal;
}
.flexible {
  display: flex;
}
.flexible-div {
  width: 40%;
  float: left;
  padding-left: 5%;
  margin-left: 2%;
}
.flexible-div > img {
  width: 100%;
}
.spcl-clr {
  color: orange;
}
.button {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(tomato, orangered);
}
/*Universal Tag complete*/
/*banner start*/
.banner {
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
}

/*banner complete*/
/*dream section start*/
.dream {
  background-image: url("../images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
/*dream section complete*/
/*Experience Section Start*/
.experience {
  background-image: url("../images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
.exp-left {
  border-left: 8px solid tomato;
  padding: 10px 10px 50px 20px;
  margin-left: 70px;
  box-shadow: 10px 10px 40px grey;
}
.exp-right {
  border-left: 8px solid blue;
  padding: 10px 10px 50px 20px;
  margin-left: 70px;
  box-shadow: 10px 10px 40px grey;
}
/*experience section complete*/
